#login{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: #ADD8E6;
  padding:50px;
  height:300px;
  width:300px;
  text-align: center;
  border-radius: 20px;
  color:#255d70;
}

#pic{
  width:100px;
  height:100px;
}
#sign-out{
  float:right;
}
#details{
  text-align: center;
}
